body{
    padding: 50px;
}
.table-wrapper{
    display: flex;
    margin: 0 auto;
    gap: 0;
}
.row div{
    border: solid 0.5px black;
}
#prompt, #prompt2, #prompt3, #prompt4{
    margin-top:auto;
}
.box{
    display: flex;
    flex-direction: column;
}
.srow{
    display: flex;
    margin: 0;
    padding: 0;

}
.scolumn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    border: solid 0.5px black;
    margin: 0;
    padding: 0;
    list-style: none;
}